.apple h2 {
    font-family: 'NotoSans';
    font-weight: 600;
    font-size: 36px;
    color: #313131;
    margin-top: 70px;
    margin-bottom: 50px;
}

.apple h4 {
    text-align: center;
    margin-top: 60px;
}

.apple-link {
    font-family: 'NotoSans';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 12px 28px 13px;
    background: #313131;
}

.applecard {
    padding: 20px 26px 15px;
    text-align: center;
    transition: 0.5s;
}

.applecard:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.applecard:hover .buy-link {
    visibility: visible;
    transition: .5s;
}

.applecard h3 {
    font-family: 'NotoSans';
    font-weight: 500;
    font-size: 16px;
    color: #313131;
    margin-top: 22px;
}

.applecard p {
    font-family: 'NotoSans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #313131;
    margin-top: 5px;
    margin-bottom: 10px;
}

.buy-link {
    font-family: 'NotoSans';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    padding: 5px 36px 6px;
    background: #313131;
    visibility: hidden;
    transition: .5s;
}

.buy-link:hover {
    color: #FFFFFF;
    transition: .5s;
}

.samsungcard {
    padding: 15px 12px;
}

.xbox {
    background: url('../img/xbox.png');
    height: 500px;
    position: relative;
    z-index: 1;
}

.xbox h2 {
    font-family: 'NotoSans';
    font-weight: 600;
    font-size: 48px;
    color: #313131;
    margin-top: 80px;
}

.xbox p {
    font-family: 'NotoSans';
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #313131;
    max-width: 450px;
}

.xbox-link {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-family: 'NotoSans';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #313131;
    padding: 13px 38px 12px;
}

.xbox-link:hover {
    color: #FFFFFF;
}

.xbox-bg {
    z-index: -1;
    transform: translateY(-195px);
}

.page-item .page-link {
    border-right: 2px solid #ABABAB !important;
    font-family: 'NotoSans';
    font-weight: 400;
    font-size: 30px;
    color: #ABABAB;
}

.page-item .page-link:hover{
    border-right: 2px solid #000 !important;
    color: #000000;
    background: white;
}

.page-item .page-link {
    border: 0;

}

.page-item:not(:first-child) .page-link {
    margin-left: 0px;
}

.page-item:last-child .page-link {
    border-radius: 0;
}